*{
    margin: 0px;
    padding: 0px;
    
}
.header{
     /* background: #7ed6df;  */
}
body{
    background:#8395a7;
}
/* .fixed-width{
    width: 1500px;
    margin: auto;
}  */
h1{
    position: relative;
    top: 150px;
    left: 740px;
    top: 36px;
    font-weight: 700;
    background: #4834d4;
    padding: 15px 25px;
    color: white;
    border-radius: 5px;
    font-size: 19px;
    display: inline-block;
    
    
}
img{
    max-width: 100%;
    inline-size:120px ;
    margin-top: 40px;
    margin-left: 110px;
    
}
.logo{
    float: left;
    width: 30%;
}
.header-menu{
    float: left;
    width: 70%;
    display: inline-block;
    margin-top: 25px;
    position: relative;
    
    
}
.header-menu ul{
    text-align: right;
    position: relative;
    right: 430px;
    top: 73px;
    
}
.header-menu ul li{
    display: inline-block;
}
.header-menu ul li a{
    padding: 0 25px;
    font-weight: 800;
    font-size: 19px;
    text-decoration: none;
    color: black;
    margin-top: 25px;

}
.header-menu ul li a :hover{
    
}

.img-2{
     inline-size: 770px;
     display: inline-block;
     margin-top: 110px;  
     margin-left: 270px; 
     position: relative; 
}
h2{
    position: relative;
    bottom: 400px;
    left: 200px;
    font-size: 60px;
    font-weight: 800;
}
h3{
    position: relative;
    bottom: 400px;
    left: 200px;
    font-size: 46px;
    color: #3742fa;
    font-weight: 800;
    

}
h4{
    position: relative;
    bottom: 360px;
    left: 200px;
    font-size: 17px;
}
p{
    position: relative;
    bottom: 355px;
    left: 200px; 
    font-weight: 800;
}
h5{
    position: relative;
    bottom: 250px;
    left: 200px;
    background:#4834d4 ;
    color: white;
    padding: 20px 55px;
    display: inline-block;
    border-radius: 5px;
    
}

